@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

@layer base {
  ::selection {
    @apply bg-cream;
  }

  body {
    @apply font-kulim_park bg-white;
  }

  h1 {
    @apply text-black text-lg lg:text-2xl font-normal font-rockybilly;
  }

  p {
    @apply text-black text-base lg:text-xl font-normal;
  }

  .container {
    @apply w-full !max-w-[1440px] !mx-auto px-4 md:px-12 lg:px-28;
  }
}