@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
}

@layer base {
  body {
    @apply font-kulim_park bg-white;
  }

  h1 {
    @apply text-black text-2xl font-normal font-rockybilly;
  }

  p {
    @apply text-black text-xl font-normal;
  }

  .container {
    @apply max-w-[1440px] mx-auto;
  }
}